RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ http://localhost:8080/HTML/evcar/$1 [R=301,L]
RewriteRule ^home?$ index.php
RewriteRule ^cars?$ car_list.php
RewriteRule ^news?$ news_list.php
RewriteRule ^about-us?$ about_us.php
RewriteRule ^contact-us?$ contact_us.php
RewriteRule ^privacy-policy?$ privacy.php
RewriteRule ^terms-conditions?$ terms.php
RewriteRule ^ev-calculator?$ ev_calculator.php
RewriteRule ^upcomming?$ car_list.php?list_type=UPCOMMING
RewriteRule ^news/([^/]+)/?$ news_details.php?id=$1  [NC,L]
RewriteRule ^search/([^/]+)/?$ car_list.php?list_type=SEARCH&id=$1  [NC,L]
RewriteRule ^brand/([^/]+)/?$ car_list.php?list_type=BRAND&id=$1  [NC,L]
RewriteRule ^fuel/([^/]+)/?$ car_list.php?list_type=FUEL&id=$1  [NC,L]
RewriteRule ^cars/([^/]+)/?$ car_details.php?id=$1  [NC,L]