* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-primary,
.btn-primary {
    background-color: #40B54D !important;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: Lexend !important;
    color: #5F6C72;
    font-weight: 300 !important;
}

::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
::-webkit-scrollbar-track {
    /*background: orange;        /* color of the tracking area */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
  
/* .ad {
    background: #EEE;
} */

::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
   /* border: 3px solid orange;  /* creates padding around scroll thumb */
    background-color: #40b54d;
}

.nexontitle {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #46494F;
}

.fivesets {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #46494F;
}

.titlecolor {
    background-color: #065933;
    text-align: center!important;
    font-size: 14px;
    color: #d5c9c9;
    padding: 5px 0px;
    margin: 0;
}

.carimage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimagecar {
    padding: 0 9vw 9vh 9vw;
    max-width: 1440px;
    width: 100vw;
    /* margin: 0 auto; */
    /* height: 638px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

.evcartitle {
    color: #40B54D;
    font-size: 16px;
    margin-bottom: 6px;
    letter-spacing: 4px;
    line-height: 24px;
    font-family: 'Lexend';
}

.worldtitle {
    color: #fff;
    font-size: 64px;
    line-height: 70px;
    font-weight: 600;
    /* letter-spacing: -4px; */
    font-family: 'Lexend';
}

.worldsubtitle {
    font-size: 18px;
    color: #d5c9c9;
    width: 40%;
    /* padding-bottom: 43px; */
    margin: 0;
    font-family: 'Lexend';
}

.logocontainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.right-0 {
    right: 0;
}

.borderline input {
    /* width: 24vw; */
    max-width: 100%;
    /* border: 1px solid #CCC; */
    border: none;
    box-shadow: 0 1px 6px 0 #20212447;
    padding-top: 10px;
    padding-bottom: 10px;
}

.borderline img {
    height: 45px;
}

.borderline input::placeholder {
    /* color: #DBDBDB; */
    color: #BBBBBBff;
}

.borderline input:focus {
    border: 1px solid #20212447;
    box-shadow: none;
}

.loggedin {
    margin: 0px;
    background-color: #1A1E26;
    border-radius: 63px;
}

.loggedin a {
    color: #FFFFFF;
    padding: 6px 32px 10px;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.navbarcustom li a {
    font-size: 16px;
    line-height: 24px;
    color: #46494F !important;
    font-weight: 500;
}

.navbarcustom li a:hover,
.navbarcustom li a.active{
    color: #40b54d !important;
}

.shopallbtn a {
    background-color: #40B54D;
    color: #fff;
    border-radius: 56px;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 59px;
    margin: 0;
    text-decoration: none;
    font-family: 'Lexend';
}

.shopallbtn {
    margin: 0px;
}

.productcarslide .slick-prev:before, .productcarslide .slick-next:before {
    color: #40b54d !important;
    background: #FFF;
    border-radius: 50%;
}

.one-time .slick-dots li button:before,
.productcarslide .slick-dots li button:before {
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 14px;
    border: 1.19px solid #fff;
    border-radius: 50%;
}

.one-time .slick-dots li.slick-active button:before,
.video-list .slick-dots li.slick-active button:before,
.productcarslide .slick-dots li.slick-active button:before {
    color: #44b44d;
    border-color: #44b44d;
}

.one-time .slick-dots li button:before,
.productcarslide .slick-dots li button:before {
    position: relative;
}

.one-time .slick-dots,
.productcarslide .slick-dots {
    bottom: 0px;
}
/* .item {
display: none;
} */

.video-list .slick-prev:before, .video-list .slick-next:before {
    color: #40b54d !important;
    background: #FFF;
    border-radius: 50%;
    font-size: 25px;
}

.video-list .slick-prev,
.video-list .slick-next{
    z-index: 5;
    left: auto;
    top: auto;
    bottom: -20px;
}

.video-list .slick-prev{
    right: 45px;
}
.video-list .slick-next{
    right: 10px;
}

.featuredcar {
    display: none;
}

.featuredcar.featuredblock {
    display: block;
}

.cartab-link {
    list-style: none;
    color: #9D9EA2;
    border: 1px solid #9D9EA2;
    padding: 12px 5%;
    margin: 0 16px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Lexend';
}

.cartab-link {
    padding: 9px 3%;
    font-size: 12px;
    margin: 0 10px
}

.cartab-link:first-child {
    margin: 0 0px;
}

.cartab-link.carcurrent {
    background-color: #05422C;
    color: #fff;
}

.customtabs {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0 4% 0%;
    margin: 0px;
}

.carfont {
    font-size: 45px;
    line-height: 49px;
    /* letter-spacing: -4px; */
    font-weight: 600;
    text-transform: uppercase;
    margin: 5% 0px 3%;
    font-family: 'Lexend';
}

.disflexcars {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-bottom: 24px
}

.item {
    flex: 0 0 25%;
    max-width: calc(25% - 30px);
    margin: 1% 15px;
    border: 1px solid #9D9EA2;
    border-radius: 9px;
}

.symbol {
    background: #F4F4F4;
    padding: 5% 0px;
}

.carprice {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding: 3px 0px;
    font-family: 'Lexend';
}

.boxtitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #46494F;
    font-weight: 500;
    margin: 0px;
    font-family: 'Lexend';
}

.showroomtitle {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.5px;
    color: #46494F;
    margin: 0px;
    font-family: 'Lexend';
    font-weight: 400;
}

.pricebox {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding: 20px;
}

.pricebox-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compareprice {
    margin: 0px;
}

.compareprice a {
    text-decoration: none;
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    color: #000;
    border: 1px solid;
    padding: 7px 8px;
    border-radius: 25px;
    font-family: 'Lexend';
}

.carimagrang img {
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.featured .item {
    border: 1px solid #9D9EA2;
    border-radius: 15px;
    margin-top: 2%;
}

.dreamsubtitle {
    font-size: 45px;
    line-height: 49px;
    /* letter-spacing: -4px; */
    font-weight: 600;
    margin: 0px;
    font-family: lexend;
    padding-bottom: 1%;
}

#brand_list{
    align-content: center;
}

#brand_list.limited-list{
    align-content: baseline;
    max-height: 285px;
    overflow: hidden;
}

.prsonalman{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
}

.compareprice a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s linear;
}

.symbolname {
    font-size: 16px;
    line-height: 24px;
    color: #1A1E26;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    font-family: 'Lexend';
}

.symbol1 {
    background-color: #fff;
    flex: 0 0 16.66%;
    max-width: 15%;
    text-align: center;
    padding: 15px 0px;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
}

.logoflex {
    justify-content: space-between;
}

.symbol1 {
    margin: 1% 1.6% 1% 0;
}

.morbtn a {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    background-color: #40B54D;
    color: #000;
    border-color: transparent;
    padding: 18px 59px;
    border-radius: 56px;
    color: #fff;
    text-decoration: none;
}

.loadmorbtn {
    text-align: center;
    padding: 3% 0;
}

.indiacarsub {
    font-family: Lexend;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    /* letter-spacing: -4px; */
    text-align: left;
    color: #1A1E26;
}

.indiacarsub span {
    color: #F2BC1B;
}

.customflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cstomflex1 {
    flex: 0 0 33.33%;
    max-width: 32%;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    margin: 1% 0px;
}

.hundai {
    padding: 4% 0px;
}

.cstompadding {
    padding: 4% 0px;
}

.customservice {
    color: #1A1E26;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
}

.servicepera {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #5F6C72;
}

.indilorem {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #717378;
}

.carnewsubtitle {
    font-family: Lexend;
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1.5px;
    text-align: left;
    color: #1A1E26;
    margin-bottom: 3%;
}

.showall {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #40B54D;
}

.csrnewsub {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #717378;
    width: 75%;
}
.full-width .csrnewsub {
    width: 100%;
}

.dates {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #717378;
    margin-top: 1.5%;
    margin-bottom: 0px;
}

.blogsection {
    padding: 4% 0;
}

.vaildiflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.validflex1 {
    flex: 0 0 33.33%;
    max-width: 32.33%;
    margin-top: 1%;
}

.validflex2 {
    flex: 0 0 50%;
    max-width: 49%;
    margin-top: 1%;
}

.validflexmain {
    flex: 0 0 66.66%;
    max-width: 65.66%;
    margin-top: 1%;
}

.colortestimonial.carnewsubtitle {
    color: #fff;
}

.yellowcolor {
    color: #F2BC1B;
}

.personname.reviedetail {
    padding: 0 0 10% 0;
    margin: 0;
}

.starname .reviedetail {
    height: 140px;
    overflow: hidden;
}

.reviedetail {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #9D9EA2;
}

.testimonailperson {
    padding-left: 3%;
}

.testborder {
    border-bottom: 1px solid #C8C9CB26;
    padding: 1% 0px;
}

.review {
    padding: 4% 0px 2%;
}

.testiminialflexstart {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.alltestimonial {
    flex: 0 0 25%;
    /* max-width: 25%; */
}

.howertestimonial,
.reviwprevioue {
    margin: 0px 10px;
}

.reviwprevioue {
    background-color: #1A1E26;
    padding: 4% 7%;
    border-radius: 16px;
}

.howertestimonial {
    background-color: #05422C;
    padding: 7%;
    border-radius: 16px;
}

.validtitle {
    font-family: Lexend;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -1.5px;
    text-align: left;
    color: #fff;
}

.excilent {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px;
    color: #fff;
}

.reviewdate {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #9D9EA2;
    margin: 0;
}

.greycolor {
    color: #9D9EA2;
}

.testimonial {
    background: #01100B;
    padding: 6% 0px;
}

.borderlineblog {
    border-bottom: 1px solid #C8C9CB;
}

.fa.fa-facebook {
    padding: 5px 9px;
}

.evefooter {
    background-color: #1A1E26;
    padding: 4% 0 2%;
}

.footerbroda {
    border-bottom: 1px solid #46494F;
    position: relative;
}

.footericon i {
    border: 1px solid #9D9EA2;
    padding: 5px 6px;
    border-radius: 25px;
    color: #fff;
}

.footer-flag-icon{
    border: 1px solid #2a6f37;
    /* border-radius: 50%;
    height: 24px; */
    margin-right: 8px;
    width: 24px!important;
}

.copyrightflex a {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #717378;
    text-decoration: none;
}

.copyflex1 li {
    padding-left: 20px;
}

.copyright {
    padding-top: 2%;
}

.carinfotitle {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    /* text-align: left; */
    color: #fff;
}

.carlistsubtutitle a {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #9D9EA2;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
}

.carlistsubtutitle {
    list-style: none;
    padding: 0 25px 0 0;
}

.footerflex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

.footerlfle1 {
    flex: 0 0 28%;
    max-width: 28%;
}

.carlistfooter {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

.footerflex2 {
    flex: 0 0 18%;
    max-width: 18%;
}

.hoverstar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countreview {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #648A7C;
}

.countreview span {
    color: #fff;
}

.googlemg {
    padding: 15px 0px;
}

.colrgreen {
    color: #648A7C;
}

.alltestimonial {
    position: relative;
    transition: all 1s;
}

.howertestimonial {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    display: none;
}

.alltestimonial:hover .howertestimonial {
    display: block;
    transition: all 3s;
}

.one-time .slick-slide img{
    aspect-ratio: 38/15;
}

.one-time .slick-prev{
    color: #ffffff;
    left: 2%;
    z-index: 2;
}

.one-time .slick-next{
    right: 2%;
    z-index: 2;
    color: #ffffff;
}

.one-time .slick-prev::before,
.one-time .slick-next::before {
    font-size: 30px;
}

.testimonialslider .slick-prev {
    color: #ffffff;
    left: 0px;
    z-index: 2;
}

.testimonialslider .slick-next {
    right: 0px;
    z-index: 2;
    color: #ffffff;
}

.productcarslide .slick-prev {
    color: #ffffff;
    left: 5px;
    z-index: 2;
}

.productcarslide .slick-next {
    right: 5px;
    z-index: 2;
    color: #ffffff;
}

.homeproduct a {
    text-decoration: none;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #5F6C72;
}

.homeproduct .gernexon {
    color: #40B54D;
}

.homeproduct {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.homeproduct img {
    padding-right: 10px;
}

.homeproduct i {
    padding: 0px 10px;
}

.prdousctflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productpicture,
.productpera {
    flex: 0 0 50%;
    max-width: 49%;
}

.productrates,
.userfeedback {
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #191C1F;
}

.userfeedback {
    color: #5F6C72;
}

.pdprice {
    font-family: Lexend;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: #4E5053;
}

.pdcontain {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #5F6C72;
    width: 80%;
}

.specific {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #5F6C72;
}

.specficflex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 7px;
}

.specfixflex1 {
    padding-right: 20px;
    width: 45px;
}

.petrols {
    font-family: Lexend;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #5F6C72;
    margin: 0;
}

.readnexon {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #40B54D;
}

.starrating i {
    color: #FA8232;
}

.productcartab-link.pdcarcurrent {
    background-color: #05422C;
    color: #fff;
}

.productcartab-link {
    padding: 11px 31px;
    border: 1px solid #9D9EA275;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.productcartab-link img {
    padding-right: 6px;
}

.productreview {
    padding: 25px 12px 12px;
    color: #8B96A5;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
}

.productreview.prdtabblock {
    border-bottom: 2px solid;
    color: #40B54D;
}

.producttabs {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 18px;
    border-bottom: 1px solid #DEE2E7;
}

.pddiscription {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #5F6C72;
}

.productdiscrip {
    padding: 0px 25px 25px 25px;
}

.productable tbody {
    border: 1px solid #E0E7E9;
}

.productable td {
    border-right: 1px solid #E0E7E9;
}

.productdiscrip .productable {
    width: 55%;
}

.checklist {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.productable tr>td:first-child {
    background-color: #EFF2F4;
}

.checkline {
    padding-left: 13px;
}

.checkline,
.productable td {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #5F6C72 !important;
}

.productflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productflex75 {
    flex: 0 0 80%;
    max-width: 79%;
    border: 1px solid #DEE2E7;
    box-shadow: 0px 1px 3px 0px #3838381A;
    border-radius: 10px;
}

.productflex25 {
    flex: 0 0 20%;
    max-width: 19%;
}

.productflex25 img {
    width: 100%;
}

.prdsubpart {
    display: none;
}

.prdsubpart.prdsubactive {
    display: block;
}

.nexonvarianttitle {
    padding: 4% 0px;
    font-family: Lexend;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1A1E26;
}

.varainround {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: transparent;
    position: relative;
    cursor: pointer;
}

.variandown {
    display: flex;
    flex-wrap: wrap;
}

.clblack {
    background-color: #2D353C;
}

.clwhite {
    background-color: #E0E1E1;
}

.clgrey {
    background-color: #697E73;
}

.clred {
    background-color: #952A22;
}

.varainround.variantroundactive::before {
    content: '•';
    border: 1px solid #FA8232;
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    left: -3px;
    top: -3px;
}

.nxtweltitle span {
    display: block;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5F6C72;
}

.nxtweltitle {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #46494F;
    height: 69px;
    overflow: hidden;
}

.nexoncontain .productflex75 {
    border: none;
    box-shadow: none;
}

.nextewlve {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.newflexreviw {
    flex: 0 0 33.33%;
    max-width: 32.33%;
    border: 1px solid #DEE2E7;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.nexonblock {
    padding-bottom: 4%;
}

.nexoncontain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.compareflex {
    padding: 0 15px 15px 15px;
}

.newflexed {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.detailbutton a {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #40B54D;
    text-align: center;
    text-decoration: none;
}

.detailbutton {
    text-align: center;
    border-top: 1px solid #DEE2E7;
    margin: 0;
    padding: 10px 0px;
}

.nexflex1,
.nexflex2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.compareflex {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.compareflex .nexflex2 {
    text-align: end;
}

.variandown {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
}

.kiaheight {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mobile {
    display: block;
    background: transparent;
}

.mobilelogoflex {
    display: none;
}

.navonlysearchbar.carlogoflex {
    display: none;
}

.mobsearchclosebtn{
    background: #40b54d;
    color: #FFF;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 50%;
    display: none;
}

.detailbutton:hover {
    background-color: #40B54D;
    color: #FFFFFF;
}

.detailbutton:hover a {
    color: #FFFFFF;
}

.navbar-expand-lg .navbar-collapse {
    background-color: transparent;
}

.headerborder {
    border-bottom: 1px solid #E8E8E8;
}

.homeproduct {
    padding: 2% 0 3%;
}

.mw-none{
    max-width: none;
}
nav.navbarcustom.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
    /* border-top: 1px solid #E8E8E8; */
    background-color: transparent !important;
}

.filterflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filterflex1 {
    flex: 0 0 25%;
    max-width: 24%;
    background-color: #ffffff;
    padding: 10px;
}
.filterflex2{
    flex: 0 0 75%;
    max-width: 74%;
}
.filtertitle{
    margin: 0;

}
.customrange {
    width: 100%;
}
.priceselect1, .priceselect2{
    width: 40%;
}
.middleto{
    width: 20%;
    padding: 0 10px;
}
.minmaxselest {
    text-align: center;
}
.range-input {
    margin: 10px 0px;
}
.filtercategary {
    color: #1A1E26;
    font-family: Lexend;
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
}
.carall {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.5px;
    color: #46494F;
    font-family: 'Lexend';
    font-weight: 400;
    cursor: pointer;
}
.price-field {
    position: relative;
    width: 93%;
    height: 36px;
    box-sizing: border-box;
    background: rgba(248, 247, 244, 0.2);
    padding-top: 15px;
    padding-left: 16px;
    border-radius: 3px;
}
.price-field input[type=range] {
    position: absolute;
}
.price-field input[type=range] {
    width: 100%;
    height: 4px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
  
}

.price-field input[type=range] {
    width: 100%;
    height: 4px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
  
}
.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track {
    width: 100%;
    height: 2px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb { 
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}
  
.price-field input[type=range]::-moz-range-thumb { 
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-ms-thumb  { 
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}
.customcheck input[type=checkbox] {
    position: relative;
    border: 2px solid #000;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    opacity: .5;
}

.customcheck input[type=checkbox]:hover {
    opacity: 1;
}

.customcheck input[type=checkbox]:checked {
    background-color: #000;
    opacity: 1;
}

.customcheck input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}


.acc__card {
    position: relative;
    border-top: 1px solid #9D9EA2;;
}
.acc__title {
    cursor: pointer;
    display: block;
    position: relative;
    text-align: left;
    &::after {
        width: 8px;
        height: 8px;
        border-right: 1px solid #4a6e78;
        border-bottom: 1px solid #4a6e78;
        position: absolute;
        right: 10px;
        content: " ";
        top: 17px;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
    }
    &.active::after {
        transform: rotate(225deg);
        transition: all 0.2s ease-in-out;
    }
}
.acc__panel {
    display: none;
    margin: 0;
    text-align: left;
    max-height: calc(100vh - 360px);
    overflow: auto;
}
.customcheck {
    margin: 0;
    padding: 5px 10px;
}
.customcheck label{
    padding-bottom: 6px;
}
.carfilteritem{
    flex: 0 0 33%;
    max-width: calc(33% - 30px);
    margin: 1% 15px;
    border: 1px solid #9D9EA2;
    border-radius: 9px;
}
.pricesettle{
    padding: 20px;
}
.hearcar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.customcheck{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filterright {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-bottom: 24px;
    padding-top: 25px;
}
.filtertitle{
    color: #1A1E26;
    font-family: Lexend;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    cursor: pointer;
}
.mobilesorfilter, .sorticon, .filtemobflex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mobilesort, .mobilefilter{
    flex:0 0 50%;
    max-width: 50%;
}
.mobilsort50 {
       display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.filmobsort50 {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
} 


.mobilegetset {
    display: none;
}
.clsoverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    display: none;
}
.fafaclose {
    text-align: end;
    font-size: 23px;
}
.sortcontain{
    height: 60vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    overflow: hidden;
    text-align: left;
    transition: transform 250ms ease-in-out;
    padding: 10px;
    transform: translateY(100%);
 
}
.sortcontain.sortcontainactive{
    transform: translateY(0%);
}
/* .fafaclose i{
    transform: translateX(100%);
} */

/* mediaquery */
@media only screen and (max-width: 992px) {
    .worldtitle {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .worldsubtitle {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .navbarcustom .collapse:not(.show) {
        display: block;
    }
    #navbar-toggle {
        cursor: pointer;
    }
    #navbar-toggle i {
        color: #000;
        font-size: 27px;
    }
    .navbarcustom .navbar-nav {
        display: none;
    }
    .navbarcustom.navbar>.container-fluid {
        justify-content: end;
    }
    .logosection .navdisnonemobile {
        display: none !important;
    }
    .mobilelogoflex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .loginbutton {
        order: 3;
    }
    .carlogo {
        order: 2;
        width: 50%;
    }
    .navonlysearchbar.carlogoflex .searchbar{
        justify-content: center !important;
        display: flex;
        /* display: none; */
    }
    .footer-links {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 15px;
    }
    
    .carlistsubtutitle {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 920px) {
    .pricebox {
        padding: 10px 10px 16px;
    }
    .compareprice {
        padding-top: 10px;
    }
    .carfilteritem {
        flex: 0 0 50%;
        max-width: calc(50% - 10px);
        margin: 1% 5px;
    }
    .filterright{
        margin: 0 0px;
    }
}

@media only screen and (max-width: 820px) {
    .worldtitle {
        font-size: 25px;
        line-height: 40px;
    }
    .filterflex2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .worldsubtitle {
        font-size: 15px;
        width: 60%;
    }
    icon1 .item {
        flex: 0 0 33.33%;
        max-width: calc(33.33% - 10px);
        margin: 1% 5px
    }
    .symbol1 {
        flex: 0 0 20%;
        max-width: calc(20% - 10px);
        margin: 1% 5px
    }
    .logoflex {
        justify-content: center;
        margin: 0 -5px;
    }
    .indiacarsub,
    .dreamsubtitle,
    .carfont,
    .carnewsubtitle,
    .carnewsubtitle {
        font-size: 40px;
        line-height: 45px;
    }
    .customservice {
        font-size: 20px;
        line-height: 25px;
    }
    .item {
        flex: 0 0 33.33%;
        max-width: calc(33.33% - 20px);
        margin: 1% 10px;
    }
    .disflexcars {
        margin: 0 -5px;
    }
    .symbol1 {
        flex: 0 0 25%;
        max-width: calc(25% - 10px);
    }
    .mobilegetset{
        display: block;
    }
    .csrnewsub {
        width: 100%;
    }
    .filterflex1{
        display: none;
    }
    .productpicture,
    .productpera {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .productpicture.one-time {
        text-align: center;
    }
    .productpera {
        padding-top: 10px;
    }
    .productflex25 {
        flex: 0 0 100%;
        max-width: 50%;
    }
    .productflex75 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .productflex,
    .nexoncontain {
        justify-content: center;
    }
    .productflex25 {
        padding-top: 20px;
    }

    .filtersubtitlemobile{
        height: 100vh;
        width: 80%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1001;
        background: #fff;
        overflow: hidden;
        text-align: left;
        -webkit-transition: -webkit-transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;
        padding: 10px;
        transform: translateX(100%);
    }
    .priceselect1, .priceselect2 {
        width: 35%;
    }
    .filtersubtitlemobile.boxclsactive{
        transform: translateX(0%);
    }
    .clsblue {
        background-color: #fff;
        border: 1px solid #808080;
    }
    .clsvarainround {
        width: 13px;
        height: 13px;
        border-radius: 50px;
        color: transparent;
        position: relative;
        cursor: pointer;
    }
    .clsvarainround.clsvariantroundactive::before{
        content: '•';
        border: 1px solid #2a57e9;
        width: 19px;
        height: 19px;
        position: absolute;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        left: -4px;
        top: -4px;
    }
    .clsvarainround.clsblue.clsvariantroundactive {
        background-color: #2a57e9;
    }
    .rondpoular {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sorlist.boxtitle{
        text-align: left;
        margin-bottom: 7px;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 6px;
    }
    .price-field{
        width: 87%;
    }
    .acc__panel {
        max-height: 55vh;
        overflow: auto;
    }
    .productcartab-link {
        font-size: 12px;
        padding: 8px 12px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 769px) {
    .worldsubtitle {
        width: 90%;
    }
    .borderline input {
        width: unset;
    }
    .item {
        flex: 0 0 50%;
        max-width: calc(50% - 20px);
    }
    .symbol1 {
        flex: 0 0 33.33%;
        max-width: calc(33.33% - 10px);
    }
    .cstomflex1 {
        flex: 0 0 50%;
        max-width: 49%;
    }
    .validflexmain,
    .validflex1,
    .validflex2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .validflex1 img,
    .validflex2 img {
        width: 100%;
    }
    .footerlfle1,
    .footerflex2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .copyright .justify-content-between {
        justify-content: center !important;
    }
    .newflexreviw {
        flex: 0 0 50%;
        max-width: 49%;
    }
    .nexonvarianttitle {
        margin: 0;
        padding: 6% 0px 4%;
    }
    .footerflex{
        text-align: center;
    }
}

@media only screen and (max-width: 540px) {
    .indiacarsub,
    .dreamsubtitle,
    .carfont,
    .carnewsubtitle,
    .carnewsubtitle {
        font-size: 30px;
        line-height: 35px;
    }
    .item {
        max-width: calc(50% - 10px);
        margin: 1% 5px;
    }
    .newflexreviw {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .morbtn a{
        display: inline-block;
        margin: 0;
        padding: 12px 25px;
    }
    .carlistfooter {
        display: list-item;
    }
    .carlistsubtutitle {
        padding: 0;
    }
    .one-time .slick-slide img {
        aspect-ratio: 19/10 !important;
        object-fit: cover;
    }
    .one-time .slick-prev::before, .one-time .slick-next::before {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 458px) {
    .pricebox-bottom {
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 414px) {
    .cstomflex1 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .worldtitle {
        font-size: 20px;
        line-height: 30px;
    }
    .worldsubtitle{
        font-size: 11px;
    }
    .carfilteritem {
        flex: 0 0 100%;
        max-width: calc(100% - 10px);
    }


}

@media only screen and (max-width: 375px) {
    .worldtitle {
        font-size: 15px;
        line-height: 25px;
    }
    .worldsubtitle {
        font-size: 10px;
        width: 100%;
    }
    .shopallbtn a {
        padding: 12px 47px;
    }
    .pricebox {
        padding: 6px 6px 10px;
    }
    .carprice {
        font-size: 15px;
        line-height: 18px;
    }
    .boxtitle {
        font-size: 14px;
        line-height: 17px;
    }
    .symbol1 {
        flex: 0 0 50%;
        max-width: calc(50% - 10px);
    }
    .cstompadding {
        padding: 0% 0px 2%;
    }
    .cstomflex1 {
        padding: 10px;
    }
}

.terms-container {
    font-family: 'Open Sans', sans-serif;
    color: #262626;
}

.terms-title h1 {
    font-size: 18px;
    font-family: "RobotoCondensed-Bold";
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
}

.terms-body h4 {
    color: #EB573D;
    font-size: 14px;
    line-height: 25px;
}

.terms-body h3 {
    font-family: "RobotoCondensed-Bold";
    color: #262626;
    font-weight: bold;
    text-align: left;
    margin-bottom: -10px;
    font-size: 13px;
}

.terms-body p {
    font-size: 12px;
    line-height: 25px
}

.terms-body a {
    color: #EB573D;
}

.terms-body a:hover {
    color: #EB573D;
    text-decoration: none;
}

.terms_footer h3 {
    margin-top: 60px;
    margin-bottom: 125px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.5;
    color: #262626;
}

.terms_footer h3 a:link {
    color: #EB573D;
    text-decoration: none;
}

.spec-table .spec-title{
    display: flex;
    align-items: center;
}
.spec-table .spec-title img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.searchCarList{
    max-height: 160px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-top: none;
    z-index: 1;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    /* padding: 5px 10px; */
    position: absolute;
    top: 50px;
    box-shadow: 0 0 6px 2px #EEE;
}

.searchCarList li{
    padding: 5px 15px;
    border-bottom: 1px solid #EEEEEE88;
    font-size: 14px;
}
.searchCarList li:hover{
    background-color: #40b54d4a;
    cursor: pointer;
}

.video-preview-div {
    position: relative;
    width: 90% !important;
    box-shadow: 5px 5px 10px #151414;
    border-radius: 10px;
    margin: 15px 0 15px 5%;
}

.video-preview {
    width: 100%;
    height: auto;
    aspect-ratio: 375 / 220;
    border-radius: 10px;
}

.video-preview-div a {
    position: absolute;
    width: calc(100% - 25px);
    left: 12px;
    height: calc(100% - 30px);
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 35px;
}

.video-title-div{
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0px 5px;
    bottom: 0;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) -8%, #000 95%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 65px;
    position: absolute;
    width: 100%;
}

.video-play-btn {
    padding: 2px;
    font-size: 30px !important;
    color: #40b54d;
}

.video-title {
    padding: 5px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
}

.download-brochure{
    font-size: 15px;
    color: #40b54d;
    margin-left: 15px;
    text-decoration: none;
    border: 1px solid #40b54d;
    padding: 10px 15px;
    border-radius: 10px;
}

.download-brochure i{
    margin-right: 5px;
}

/** Generated HTML Style **/
.general-description figure.image{
	text-align: center;
}
.general-description figure.image-style-side{
	text-align: end;
}